body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    margin: 0;
}

/* Убираем стрелки */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

/* Убираем текст у календаря */
/* input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
    opacity: 0;
} */

/* input[type="date"]::-webkit-datetime-edit-month-field{
    opacity: 0;
} */

.webkitUserModify {
    -webkit-user-modify: read-write !important;
}

button {
    cursor: pointer;
}

.form {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #999;
    padding: 20px 25px;
}

.form__body {
    background: #fff;
    padding: 35px;
    position: relative;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    border: 0;
    width: 25px;
    height: 20px;
    padding: 0;
    background: #fff;
}

.btn-close:hover {
    background: #ff0000;
}

.btn-close span {
    display: block;
    margin: 0 auto;
    width: 15px;
    height: 1px;
    background: #000;
    transform: rotate(45deg);
}

.btn-close span::before {
    content: "";
    display: block;
    height: 1px;
    background: #000;
    transform: rotate(90deg);
}


.form__title-1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.form__title-2 {
    font-size: 16px;
    margin-bottom: 20px;
}

.form__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form__item label {
    margin-bottom: 10px;
}

.form__input {
    padding: 10px;
    border-radius: 0;
    border: 1px solid #000;
}

.passport {
    flex-direction: row;
    column-gap: 10px;
}

.button {
    padding: 15px 30px;
    border-radius: 7px;
    box-shadow: 0 2px;
    transform: translateY(0);
    transition: all 0.2s;
}

.button:hover {
    transform: translateY(-1px);
}

.button:active {
    box-shadow: 0 1px;
    transform: translateY(1px);
}

.button:not(:last-child) {
    margin-right: 10px;
}

.button_black {
    background: #000;
    color: #fff;
}

.button_white {
    background: #fff
}

.form__input._error {
    box-shadow: 0 0 15px red;
}